<div data-section-id="{{ section.id }}" data-section-type="section-collection-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-collection-v1 mt-all">
    <div class="container container-v2">
      <div class="title-heading">
        <div class="heading-inner">
          <div class="header-wrap text-center">
            {% if section.settings.section_title != blank %}
            <h3 class="title_heading">
              <span>{{section.settings.section_title}}</span>
            </h3>
            {% endif %}

            {% if section.settings.section_des != blank %}
            <p class="desc">
              {{section.settings.section_des}}
            </p>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="collection-v1">
        <div class="row">
          {% for block in section.blocks %}
          {% if block.type == "collection" %}
          <div class="col-lg-4">
            <div class="collection-inner">
              <div class="thumb">
                <a href="{{block.settings.collection_url}}" class="images">
                  {% if block.settings.collection_img != blank %}
                  <img data-src="{{block.settings.collection_img | img_url:'master'}}" class="lazyload w-100 img-responsive" alt="Image">
                  {% else %}
                  <img data-src="//placehold.it/515x745" class="lazyload w-100 img-responsive" alt="Image">
                  {% endif %}
                </a>
              </div>
              {% if block.settings.enable_info %}
              <div class="box-content">
                <h3><a href="{{block.settings.collection_url}}">{{block.settings.title}}</a></h3>
                <a class="button-name" href="{{block.settings.collection_url}}">{{block.settings.btn_name}}</a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</div>
{% schema %}
{
  "name": "COLLECTION V1",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Title",
      "default": "Top Categories"
    },
    {
      "type": "text",
      "id": "section_des",
      "label": "Description",
      "default": "Enjoy an entirely new level of driving experience superior cars"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "type": "header",
          "content": "Collection"
        },
        {
          "type": "url",
          "id": "collection_url",
          "label": "Url",
          "default": "/collections/all"
        },
        {
          "type": "image_picker",
          "id": "collection_img",
          "info": "515 x 745px recommended",
          "label": "Background image"
        },
        {
          "type": "header",
          "content": "Info"
        },
        {
          "type": "checkbox",
          "id": "enable_info",
          "label": "Enable Info?",
          "default": true
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Chandeliers"
        },
        {
          "type": "text",
          "id": "btn_name",
          "label": "Button name",
          "default": "Shop now"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "COLLECTION V1",
      "category": "HOME",
      "blocks": [
        {
          "type": "collection",
          "settings": {
            
          }
        },
        {
          "type": "collection",
          "settings": {
            
          }
        },
        {
          "type": "collection",
          "settings": {
            
          }
        }
      ]
    }
  ]
}
{% endschema %}